* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

@mixin flex($width: false, $just: center, $align: center, $direction: false) {
  @if $width {
    width: $width;
  }
  display: flex;
  justify-content: $just;
  align-items: $align;
  @if $direction {
    flex-direction: $direction;
  }
}

.wrapper {
  @include flex(100%, center, center, column);
  height: 100vh;
  background-color: rgba(0, 102, 140, 0.2);
}

.stats {
  padding: 10px 30px;
  margin-bottom: 5px;
  background: #333;
  font-weight: bold;

  & span#player1 {
    color: #fff138;
  }

  & span#player0 {
    color: cyan;
  }
}

.row ul {
  @include flex(false);

  & li.item {
    @include flex(false);
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    font-size: 28px;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: #777;
  }

  & li.item.iconX {
    color: #fff138;
  }

  & li.item.iconO {
    color: cyan;
  }
}

.row:first-child ul {
  & li:first-child {
    border-radius: 10px 0 0;
  }
  & li:last-child {
    border-radius: 0 10px 0 0;
  }
}

.row:last-child ul {
  & li:first-child {
    border-radius: 0 0 0 10px;
  }
  & li:last-child {
    border-radius: 0 0 10px 0;
  }
}
